
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


body {
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
}


.iconnav {
    color: white;
}

.nav-active {
    font-weight: 700;
}

.navbar-nav {
    color: white;
}

/* h1 */
.jumbo h1 {
    color: white;
    font-size: 3.2em;
}

.container .jumbo p {
    color: white;
}
/*
.container .row .card {
    width: 380px;
    height: 528;
}
*/

.text-center h1 {
    color: white;
    font-size: 3.2em;
}

.text-center p {
    color: white;
}


.card-bodyy {
    border-radius:40px ;
    color: #000000;
}

.container .row .col img {
    width: 340px;
    height: 242px;
    padding: 30px;
    border-radius: 40px;
}
.jf {
    font-weight: 700;
    
}
#button-addon3 {
    background-color: #703FC7;
    color: white;
    border-radius: 15px;
    width: 211px;
   height:56px;
}
.btncreate {
    width: 220px;
    height: 50px;
    border-radius: 15px;
    background-color: #703FC7;
}

.btncreate button {
    color: white;
}

.navbar .container .gambarnav img {
    width: 100px;
    height: 100px;
}

.btnmycommunity {
    width: 220px;
    height: 50px;
    border-radius: 15px;
    background-color: #703FC7;
}

.btnmycommunity button {
    color: white;
}

.navbar {
    background-color: none;
}

#akun {
    width: auto;
    height: auto;
    border-radius: 10px;
    background-color: #703FC7;
    color: white;
}

.container .row .col .card a {
    display: flex;
    height: 52px;
    padding: 19px 24px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 15px;
}

#seec {
    background-color: #703FC7;
    color: white;
}

.container .navbar a {
    color: white;
}

#button-addon2 {
    background-color:#703FC7;
    color: white;
}

.gradient-custom {
    /* fallback for old browsers */
    
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(180deg, #0D1117 -2.81%, #703FC7 368.87%), linear-gradient(0deg, var(--Hitam, #0E1118) 0%, var(--Hitam, #0E1118) 100%), linear-gradient(0deg, var(--ungu, #773EC7) 0%, var(--ungu, #773EC7) 100%), #6E93D7;
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    }

.card {
    border-radius: 1rem;
    border-style: solid;
    border-color: white;
}

.card-body {
    background: linear-gradient(180deg, #0D1117 -2.81%, #703FC7 368.87%), linear-gradient(0deg, var(--Hitam, #0E1118) 0%, var(--Hitam, #0E1118) 100%), linear-gradient(0deg, var(--ungu, #773EC7) 0%, var(--ungu, #773EC7) 100%), #6E93D7;
    border: 2.5px;
    border-style: solid;
    border-color: white;
    border-radius: 8px;
}

.card-body input {
    color: white;
    border-radius: 8px;
    border-color: black;
    background-color: #000000;
}

.form-input {
    width: auto;
    height: 35px;
}

/*  */
.card-body ::placeholder {
    color:white;
}

.colom {
    border-style: solid;
    border-color: white;
}

.sign {
    color: white;
}

.butlog {
    border-style: none;
    background-color: #6a11cb;
    border-radius: 10px;
}

.log a{
    color: white;
}

.card-title {
    font-weight: normal;
}

#btn1 {
    width: 130px;
    height: 40px;
    background-color: #6a11cb;
    color: white;
}

#btn2 {
    width: 130px;
    height: 40px;
}

/* My Community */

.fkategori {
    width: 820px;
    height: 172px;
    opacity: 20%;
    border-radius: 15px;
    border: 5px;
    border-color: white;
    background-color: #773EC7;
}

.fkategori button {
    border-radius: 20px;
    opacity: 20% ;
    background-color: #0E1118;

}

.fkategori p {
    color: white;
}

/* End My Community */